<div  class="col">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
                <li class="card m-1" style="width: 18rem; ">
                    <div class="card-body">
                        <div class="card-title">
                            {{product.name}}
                        </div>
                        <div class="card-text">
                            {{product.sellingPrice}}
                        </div>
                        <div class="card-text" > 
                            {{product.qty}}
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-success btn-block">Add to cart</a>
                        </div>
                    </div>
                </li>
        </div>
    </div>
</div>
